##vo模板
package $!{model.basePackage}.vo;

import $!{model.basePackage}.domain.$!{model.modelName};

/**
 * $!{model.domainName}vo
 * @author $!{annotation.author}
 * $!{annotation.createDate}
 */
public class $!{model.voName} extends $!{model.modelName} {

}